{
  "log": {
    "_recordingName": "tmdbui",
    "browser": {
      "name": "Chrome",
      "version": "76.0.3809.132"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "848935c17c1b3517ce9a596edfeea013",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api_key",
              "value": "bf6b860ab05ac2d94054ba9ca96cf1fa"
            },
            {
              "name": "query",
              "value": "termi"
            }
          ],
          "url": "https://api.themoviedb.org/3/search/movie?api_key=bf6b860ab05ac2d94054ba9ca96cf1fa&query=termi"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 12695,
            "text": "{\"page\":1,\"total_results\":198,\"total_pages\":10,\"results\":[{\"popularity\":8.468,\"vote_count\":0,\"video\":false,\"poster_path\":\"\\/fOoaI1BGUduy1oSlisCAnCJqVnN.jpg\",\"id\":592776,\"adult\":false,\"backdrop_path\":null,\"original_language\":\"fr\",\"original_title\":\"Terminal Sud\",\"genre_ids\":[],\"title\":\"South Terminal\",\"vote_average\":0,\"overview\":\"In a Mediterranean country plunging into armed conflict, a doctor tries to do his duty against all odds, until the day his destiny is turned upside down…\",\"release_date\":\"2019-09-06\"},{\"popularity\":28.475,\"vote_count\":7141,\"video\":false,\"poster_path\":\"\\/q8ffBuxQlYOHrvPniLgCbmKK4Lv.jpg\",\"id\":218,\"adult\":false,\"backdrop_path\":\"\\/6yFoLNQgFdVbA8TZMdfgVpszOla.jpg\",\"original_language\":\"en\",\"original_title\":\"The Terminator\",\"genre_ids\":[28,878,53],\"title\":\"The Terminator\",\"vote_average\":7.5,\"overview\":\"In the post-apocalyptic future, reigning tyrannical supercomputers teleport a cyborg assassin known as the \\\"Terminator\\\" ba[...]
